<div class="form-container">
  <%= form_with model: @record, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>

    <div class="field">
      <p class="label"><%= f.label "種目名" %></p>
      <%= f.collection_select(:name_id, Exercise.all, :id, :name, {prompt: "種目を選択してください"}, class: 'form-control') %>
    </div>

    <div class="field">
      <p class="label"><%= f.label "日付" %></p>
      <%= f.date_select :date, include_blank: true, selected: Date.today , class: 'form-control' %>
    </div>

    <div class="field">
      <p class="label"><%= f.label "重量" %></p>
      <%= f.number_field :weight, min:0 , class: 'form-control' %>
    </div>

    <div class="field">
      <p class="label"><%= f.label "回数" %></p>
      <%= f.number_field :reps_count, min:0 , class: 'form-control' %>
    </div>

    <div class="field">
      <p class="label"><%= f.label "備考" %></p>
      <%= f.text_area :note , class: 'form-control' %>
    </div>

    <div>
      <%= f.submit "記録を保存" %>
    </div>

  <% end %>
</div>
