<div class="form-container">
  <%= form_with model: @exercise, local: true do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      <p class="label"><%= f.label "種目名" %></p>
      <%= f.text_field( :name, size: 30 , class: 'form-control' ) %>
    </div>
    <div>
      <%= f.submit "決定" %>
    </div>
  <% end %>
</div>
