<h1>Workout Graph</h1>
<h2>グラフページ</h2>

<h2> ログインユーザー： <%= current_user.name %> さん </h2>
<%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
<%= link_to "新しい種目を記録", new_exercise_path, method: :get %>

<%= link_to "記録一覧", records_path, method: :get %>
<%# 種目名をクリックして記録一覧ページへ遷移　%>

<% @exercises.map do |num| %>
  <%# @exercises.name %>
  <%# exercise_type = Record.where(name_id: num) %>
  <%# graph = exercise_type.pluck(:date, :RM) %>
  <% graph = Record.where(name_id: num).pluck(:date, :RM) %>
  <%= line_chart graph, min: 30, max: 45 %>
  <%# line_chart graph, min: 0, max: 50 範囲指定 %>
<% end %>
