<% provide(:title, "記録") %>

<%= form_with model: @exercise, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field( :name, size: 30 , class: 'form-control') %>
  </div>

  <div>
    <%= f.submit "決定" %>
  </div>

<% end %>
